
  
    {% extends 'index.html' %}

    {% block title %}Page Title{% endblock %}
    
    {% block content %}
      

      <input type="text" value="{{id}}" id="id" hidden>


      


        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col">
                    <div class="bg-secondary text-center rounded p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h6 class="mb-0">Disk</h6>
                        </div>
                        <canvas id="temperatureChart"></canvas>
                    </div>
                </div>

               
                </div>
               
            </div>
        </div>

        
    </div>

    <script src="{{ url_for('static', filename='ss.js') }}"></script>
    {% endblock %}
    
